* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%; 
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #383838;
}

section {
    margin: 6rem auto;
}

.row {
    max-width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

/*------------TEXT---------*/

.main-header {
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
}

.heading-secondary {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}

.header-tertiary,
.widget-text {
    padding-left: 2rem;
}

.header-tertiary {
    font-size: 1.8rem;
}

.header-4 {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.song-name {
    font-size: 1.4rem;
    color: red;
    margin-bottom: 1rem;
}

.widget-text {
    color: grey;
}

.recently-played {
    text-transform: uppercase;
    font-size: 1rem;
    color: lightgray;
}

/*-----------HEADER----------*/

.hero-section {
    min-height: 100vh;
    min-width: 100vw;
    -ms-flex-pack: distribute;
    justify-content: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, right bottom, from(pink), to(blueviolet));
    background-image: linear-gradient(to right bottom, pink, blueviolet);
    margin-top: 0;
    padding-top: 10rem;
    -ms-flex-item-align: center;
    align-self: center;
}

.hero-flex {
    width: 80vw;
    display: flex;    
    justify-content: space-around;
    margin: auto;
}

.hero-header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.hero-image {
    text-align: center;
}

.app-screen {
    width: 80%;
}

.button:link,
.button:visited {
    text-decoration: none;
    color: white;
}

.button:hover,
.button:active {
    color: lightcyan;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 5rem;
    width: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

/*-----------WIDGET SMALL----------*/

.widget-small,
.widget-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 45%;
    border: 1px solid #e5e5e5;
    border-radius: 2rem;
    overflow: hidden;
}

.widget-small {
    height: 15.5rem;
    width: 32.9rem;
}

.widget-big {
    height: 34.5rem;
    width: 32.9rem;
}

.widget-big .widget-notes__heading {
    padding: 1rem;
}

.widget-notes__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(247, 220, 14, 0.99);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget-notes__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fffbda;
}

.icon-folder {
    font-size: 2rem
}

.widget-notes__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.widget-notes__images img {
    width: 3rem;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    margin: .5rem -.5rem;
}

.widget-notes__images img:last-of-type {
    margin-right: 2rem;
}

.widget-line {
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.widget-big .widget-text {
    margin-bottom: .4rem;
}

.widget-small .widget-line:nth-last-of-type(1){
    border-bottom: 1px solid transparent;
}

.widget-big .widget-line:nth-last-of-type(1){
    border-bottom: 1px solid transparent;
}

/*------------WIDGET ALBUMS-----------*/

.widget-albums__heading,
.widget-albums__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.widget-albums img {
    border-radius: 1rem;
}

.widget-albums__heading {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
}

.widget-big .widget-albums__text {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.widget-albums__logo {
    text-align: right;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2rem;
    font-size: 2rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(blue));
    background-image: linear-gradient(to bottom, pink, blue);
    -webkit-background-clip: text;
    color: transparent;
}

.main-album__small {
    width: 20%;
    margin-left: 1rem;
}

.main-album__big {
    width: 40%;
    margin: 1rem;
}

.widget-albums__content {
    background-color: #e5e5e5;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: .5rem;
}

.widget-album__image {
    width: 20%;
    height: auto;
    padding: .1rem;
}

.widget-big .widget-album__image {
    width: 23%;
    height: auto;
}

.widget-big .widget-albums__content:last-of-type {
    padding-bottom: 2rem;
}

.widget-notes:hover,
.widget-notes:active,
.widget-albums:hover,
.widget-albums:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}